@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Haoura";
  src: url("../fonts/otf/Hauora-Regular.otf");
}

.Hide::-webkit-scrollbar {
  display: none;
}


body {
  font-family: "Haoura";
}

input:active{
  outline: 1px solid black;
  border: 1px solid black;
}

input:focus, input:focus-visible{
  outline: 1px solid black;
  border: 1px solid black
}


.category-carousel {
  display: flex;
  overflow-x: auto;
  /* line-height: 200%; */
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch; 
}

.category-item {
  flex: 0 0 auto;
  scroll-snap-align: start;
  margin-right: 15px; 
}

.container {
  width: fit-content;
  max-width: 100%;
  justify-content: center;
}